# Ignore all
*

# Unignore all dirs
!*/


__MACOSX
# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled C++ files
*.out


# Unignore all `.cpp`
!*.cpp





